.form_container {
  background-color: white;
  padding: 1rem;
  margin: 2rem auto;
  width: 40rem;
  max-width: 95%;
  border-radius: 5px;
  /* text-align: center; */
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); */
  /* display: none; */
}

.form_container p {
  border: 1px solid;
  padding: 0.2rem;
}
.form_container li {
  border: 1px solid;
  padding: 0.2rem;
  margin: .5rem;
}


